<div class="panel panel-default">
    <div class="panel-heading">
        קליטת עובדים חדשים

        <div style="float:left">
            <button ng-click="$ctrl.downloadExcel()" class="btn btn-success btn-xs">הורדת פרטי עובדים</button>

        </div>
    </div>
    <div class="panel-body">
        <a class="btn btn-success btn-xs" ui-sref="worker({id:0})">עובד חדש</a>

        <button class="btn btn-danger btn-xs" style="float:left" ng-click="$ctrl.deleteAll()">מחיקת מסומנים</button>

        <!--<button ng-if="$ctrl.role!='instructor'" class="btn btn-success btn-xs" style="float:left;margin-left:10px;" ng-click="$ctrl.sendSMS()">שליחת SMS למסומנים</button>-->

        <div class="tooltip-container" style="float:left;margin-left:10px;">
            <button class="btn btn-success btn-xs" >שליחת קישור למסומנים</button>
            <div class="tooltip-text">
                <i class="icon icon-sms" ng-click="$ctrl.sendSMS(1)"></i>
                <i class="icon icon-email" ng-click="$ctrl.sendSMS(2)"></i>
                <!--<i class="icon icon-whatsapp" title="באופציה זו יש לבחור עובד/ת בודד/ת" ng-click="$ctrl.sendSMS(3)"></i>-->

            </div>
        </div>



    </div>
    <div class="table-responsive">

        <table class="table table-hover">
            <thead>
                <tr>

                    <th>מנהל אזור</th>
                    <th>שם פרטי</th>
                    <th>שם משפחה</th>
                    <th>אימייל</th>
                    <th>ת.עדכון</th>
                    <th>סטטוס</th>
                    <th>ת.שליחה</th>
                    <th>SMS/Mail</th>
                    <th>PDF</th>
                    <th></th>
                    <th></th>
                    <th width="5%"><input type="checkbox" ng-model="$ctrl.checkAllc" style="width:52px;height:20px" ng-click="$ctrl.checkAll()"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="12">
                        <input type="text" class="form-control" ng-model="$ctrl.filterText" placeholder="חיפוש חופשי" ng-change="$ctrl.onSearchChange()" />
                    </td>
                </tr>
                <tr ng-repeat="worker in $ctrl.workers.Items ">
                    <!--| filter:$ctrl.filter-->


                    <td>{{worker.ManagerName}}</td>
                    <td>{{worker.FirstName}}</td>
                    <td>{{worker.LastName}}</td>
                    <td>{{worker.Email}}</td>
                    <td>{{worker.DateRigster | ildate: 'HH:mm DD/MM/YYYY '}}</td>
                    <td>{{worker.Status}}</td>
                    <td>{{(worker.DateSend) ? (worker.DateSend | ildate: 'HH:mm DD/MM/YYYY ') :''}}</td>
                    <td>{{worker.IsSendSMS==1 ? 'SMS':(worker.IsSendSMS==2 ? 'Email':'') }}</td>
                    <td><a ng-if="worker.Status=='נשלח למשרד'" class="btn btn-success" ng-href="{{$ctrl.uploadsUri + worker.Id + '/OfekAllPdf.pdf'}}" target="_blank">PDF</a></td>
                    <td> <button class="btn  btn-warning" ui-sref="worker({id:worker.Id})">עדכון</button></td>
                    <td> <button class="btn  btn-danger" ng-click="$ctrl.delete(worker.Id)">מחק עובד</button></td>
                    <td ng-if="worker.IsValid==1" width="5%"><input style="width:52px;height:20px" type="checkbox" ng-model="worker.IsSelected" /></td>
                    <td ng-if="worker.IsValid!=1" width="5%" title="פרטי עובד/ת אינם תיקניים, יש להכנס ולעדכן שדות שהם חובה">
                        <img src="../../images/_notArrive.png" style="height:24px;margin-right:13px;"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="12" style="text-align:center; padding:10px;">
                        סך הכל: <strong>{{ $ctrl.workers.TotalCount | number }}</strong> רשומות
                    </td>
                </tr>
            </tbody>
        </table>



        <style>
            .pagination > li > button.page-link {
                position: relative;
                float: right;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                background-color: #fff;
                border: 1px solid #ddd;
                cursor: pointer;
            }

            .pagination > li.active > button.page-link {
                z-index: 2;
                color: #fff;
                background-color: #337ab7;
                border-color: #337ab7;
            }

            .pagination > li.disabled > button.page-link {
                color: #777;
                background-color: #fff;
                border-color: #ddd;
                cursor: not-allowed;
            }

            .pagination > li > button.page-link:focus {
                outline: none;
            }
        </style>

        <div class="text-center">
            <ul class="pagination pagination-sm">

                <!-- ראשון -->
                <li ng-class="{disabled: $ctrl.currentPage === 1}">
                    <button class="page-link" ng-click="$ctrl.goToFirstPage()" ng-disabled="$ctrl.currentPage === 1">ראשון</button>
                </li>

                <!-- קודם -->
                <li ng-class="{disabled: $ctrl.currentPage === 1}">
                    <button class="page-link" ng-click="$ctrl.goToPreviousPage()" ng-disabled="$ctrl.currentPage === 1">&laquo;</button>
                </li>

                <!-- מספרי עמודים -->
                <li ng-repeat="n in $ctrl.getPages() track by $index"
                    ng-class="{active: n === $ctrl.currentPage, disabled: n === '...'}">
                    <button class="page-link"
                            ng-click="$ctrl.goToPage(n)"
                            ng-disabled="n === '...'">
                        {{n}}
                    </button>
                </li>

                <!-- הבא -->
                <li ng-class="{disabled: $ctrl.currentPage === $ctrl.totalPages()}">
                    <button class="page-link" ng-click="$ctrl.goToNextPage()" ng-disabled="$ctrl.currentPage === $ctrl.totalPages()">&raquo;</button>
                </li>

                <!-- אחרון -->
                <li ng-class="{disabled: $ctrl.currentPage === $ctrl.totalPages()}">
                    <button class="page-link" ng-click="$ctrl.goToLastPage()" ng-disabled="$ctrl.currentPage === $ctrl.totalPages()">אחרון</button>
                </li>

            </ul>
        </div>



    </div>
</div>
